<h3> H O M E</h3>
<p>Welcome to the home of <%= @owner.name %>.</p>
<p>I was set forth into this world on <%= @owner.birthdate %>.</p>
<p>Only <%= @owner.countdown %> days until I have survived another year!</p>

